@use "../../styles/variables.scss";
.foot{
    width: 100%;
    z-index:100 !important
     ;
    .name{
        position: relative;
        top: 4rem;
        left:2rem;
        color:variables.$navy;
    }
}