@use "../../styles/variables.scss";
.store{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 4rem 0;
    width: 100%;
    .title{
        font-size: 1.3rem;
color:variables.$light_text;

        .title-number{
            color:variables.$light_green;
        }
    }
    .sub{
font-size: 1rem;
color:variables.$light_text;
font-family: variables.$poppins;
font-weight: 300;

    }
    .items{
        margin-top: 2rem;
        display:flex;
        gap:2rem;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }
}
//  